<div class="imageInNav2"> </div>
<navbar></navbar>
<section>

  <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <img class="prodImg" ng-src="{{ data.image }}">
      </div>
      <div class="col-md-4">
        <h4 class="titleL">{{ data.title }}</h4>
        <ul class="prodDetail">
          <li>by {{ data.author }}</li>
          <li>{{ data.datePublished | date : 'longDate' }}</li>
          <br>
          <li class="bolder">Pretention Level: {{ data.pretentionLevel }}</li>
          <li>Description: {{ data.description }}</li>
          <br>
          <li>Price: {{ data.price / 100 | currency }} each</li>
        </ul>
        <button ng-click="addToCart(data.id, 1)">Add to Cart</button>
      </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 reviews">
      <h3>User Reviews</h3>
        <div ng-repeat="review in data.reviews" ng-show="data.reviews.length" class="table table-condensed table-hover singleReview">
            <p><span class="bolder">{{ review.user.userName }}</span>,
               <span ng-show="review.stars > 0" class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <span ng-show="review.stars > 1" class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <span ng-show="review.stars > 2" class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <span ng-show="review.stars > 3" class="glyphicon glyphicon-star" aria-hidden="true"></span>
               <span ng-show="review.stars > 4" class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </p>
            <p>Review: {{ review.body }}</p>
        </div>
    </div>
  </div>
</section>
