<section class="products">
    <!-- <fullstack-logo></fullstack-logo> -->
    <!-- <img ng-src="{{ url }}"> -->

    <h1>Available Titles</h1>
    <h2>The most stupendous works!</h2>

    <div class="row">
      <div class="col-xs-4" ng-repeat="product in products">
        <!-- <a class="thumbnail" ui-sref="product page"> -->
        <img ng-src="{{ product.image }}">
        <div class="caption">
          <h5>
            <span>{{ product.title }}</span>
          </h5>
            <small>Price: {{ product.price }} each</small>
            <button ng-click="addToCart(product.id, quantity)">Add to Cart</button>
            <input type="number" ng-model="quantity" min="1">
        </div>
      </div>
    </div>
</section>
