<section class="products">
    <!-- <fullstack-logo></fullstack-logo> -->
    <!-- <img ng-src="{{ url }}"> -->
    <div class="row">
      <label>Author:
        <select ng-model="selectedAuthor">
          <option ng-repeat="product in products">{{ product.author }}</select>
      </label>
      <!-- <label>Price:
        <select ng-model="selectedPrices" ng-options="price as product.price for product in products"></select>
      </label>
      <label>Pretention Level:
        <select ng-model="selectedPretentions" ng-options="pretenion as product.pretentionLevel for product in products" ng-change="filterPretentions()"></select>
      </label> -->
    </div>
    <h1>Available Titles</h1>
    <h2>The most stupendous works!</h2>

    <div class="row">
      <div class="col-xs-4" ng-repeat="product in products | authorFilter:selectedAuthor">
        <a ui-sref="productPage({productId: product.id})"><img class="product-img" ng-src="{{ product.image }}"></a>
        <div class="caption">
          <h5>
            <span>{{ product.title }}</span>
          </h5>
            <small>Price: {{ product.price / 100 | currency }} each</small>
            <button ng-click="addToCart(product.id, quantity)">Add to Cart</button>
            <input type="number" ng-model="quantity" min="1" required>
        </div>
      </div>
    </div>
</section>
